@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {font-family: 'Montserrat';}


a {
    text-decoration: none;
    color: #2f3333 !important;
    font-weight: 500;
    
}

a:hover {
    color: #145c53 !important;
    text-decoration: none;
}

ul {list-style-type: none;}

hr {
    margin-top: 0px;
    margin-bottom: 5%;
}

.st-emotion-cache-1v0mbdj img {
    width: 200px; /* Modifique a largura conforme necessário */
}

.st-emotion-cache-1rja0mm {
    display: none;
}

.stPlotlyChart path {
    pointer-events: none !important;
   
}

.stFullScreenFrame path {
    pointer-events: none !important;

}

.drag { /* Desativa todas as interações com o gráfico PLOTLY*/
    pointer-events: none !important;
  }

.modebar-container { /* Desativa a barra de menus que o plotly deixa no gráfico*/
    display: none;
}

.st-emotion-cache-1pyb3s0 { /* Esconde o scroll do container na logo*/
    overflow: hidden;
}

.st-emotion-cache-2wmrxa  {
    display: none !important;
    visibility: none !important;
    pointer-events: none !important;
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}